#register{
    display:inline-flex;    
    flex-direction:column;
    width:100%;
    height:100%;
    text-align:center;
    padding:20px;
}
#register form{
    display:inline-block;
    flex-grow:1;
    max-width:300px;
    margin:auto;
    margin-top:0px;
    width:100%;
}
#register form input{
    display:block;
    margin-bottom:10px; 
    width:100%;     
}
#register form input[type=submit]{   
    background-color:#436963;
    color:#EEE;    
    font-family:RBsemi;
}
#register .choice{
    display:block;
    width:100%; 
    text-align:center;
    color:#666;
    margin-top:20px;
}
#register .choice[data-panel="2"]{
    margin-bottom:20px;
}

