#settings{
    display:block;
    padding:20px;
}
#settings > .block{
    display:block;
    margin-top:20px;
}
#settings > .block > .title{
    display:block;
    font-size:18px;
}
#settings > .block > .subtitle{
    display:block;
    font-size:16px;
}

