#menu_tree{
    display:block;
    width:100%;
    height:100%;
    position:absolute;
}
.icon{
    display:inline-block;
    width:22px;
    height:22px;
    margin-right:10px;
    margin-left:2px;
    vertical-align:middle;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center center;
}
#menu_tree .ogx_stacked_tree_item .label{
    display:inline-block;
    vertical-align:middle;
    padding-top:2px;
}
#menu_tree .ogx_stacked_tree_item .nodisplay{
    display:none !important;
}
.icon_windows{
    background-image:url('../../img/windows.svg');
}
.icon_popup{
    background-image:url('../../img/popup.svg');
}
.icon_popups{
    background-image:url('../../img/popups.svg');
}
.icon_windows{
    background-image:url('../../img/windows.svg');
}
.icon_subapps{
    background-image:url('../../img/subapps.svg');
}
.icon_routing{
    background-image:url('../../img/routing.svg');
}
.icon_dialogs{
    background-image:url('../../img/dialogs.svg');
}
.icon_tags{
    background-image:url('../../img/tags.svg');
}
.icon_tabs{
    background-image:url('../../img/tabs.svg');
}
.icon_views{
    background-image:url('../../img/views.svg');
}
.icon_templates{
    background-image:url('../../img/templates.svg');
}
.icon_overlay{
    background-image:url('../../img/overlay.svg');
}
.icon_overlays{
    background-image:url('../../img/overlays.svg');
}
.icon_loaders{
    background-image:url('../../img/loaders.svg');
}
.icon_scroller{
    background-image:url('../../img/scrollers.svg');
}
.icon_lists{
    background-image:url('../../img/lists.svg');
}
.icon_trees{
    background-image:url('../../img/trees.svg');
}
.icon_swipers{
    background-image:url('../../img/swipers.svg');
}
.icon_calendar{
    background-image:url('../../img/calendar.svg');
}
.icon_switches{
    background-image:url('../../img/switches.svg');
}
.icon_intro{
    background-image:url('../../img/ogx_logo.svg');
}
.icon_settings{
    background-image:url('../../img/settings.svg');
}
#menu_tree .ogx_stacked_tree_item .initials{
    display:inline-block;
    width:24px;
    height:24px;
    border-radius:12px;
    text-align:center;
    font-family:Roboto-Bold;
    font-size:12px;
    padding-top:4px;
    vertical-align:middle;
    margin-right:10px;  
    transform:rotateZ(-6deg);
}
/*MEDIA QUERIES*/
/* Custom, iPhone Retina */ 
@media only screen and (min-width: 320px){
	
}
/* Extra Small Devices, Phones */ 
@media only screen and (min-width:480px){	
	
}
/* Small Devices, Tablets */
@media only screen and (min-width:768px){
	.ogx_stacked_tree_item{
        display:inline-block;
        border:none;
        min-width:200px;
    }
    .ogx_stacked_tree_door{
        display:block; 
    }    
}
/* Medium Devices, Desktops */
@media only screen and (min-width:992px){
	
}
/* Large Devices, Wide Screens */
@media only screen and (min-width:1400px){	
	
}