#home{
    display:block;
    width:100%;
    height:100%;
}
#home > .top{
    display: block;
    width: 100%;
    padding-bottom: 100%;
    transition: all 0.4s ease-out;
    position: relative;
}
#home > .top > .logo{
    display:inline-block;
    width:100%;
    height:100%;
    background-image:url('../../img/ogx_logo.svg');
    background-size: 70%;
    background-position:center center;
    background-repeat:no-repeat;
    /*animation:fadeloop 4s infinite;*/
    transition:all ease-in-out;
    position: absolute;
}
#home > .carousel{
    display:block;
    width:100%;
    height:calc(60% - 30px);
}
#home  > .carousel .carousel_dots{
    margin-bottom: 0px;
}
#home  > .carousel .carousel_dots .ogx_dots{
    z-index: 1000;
}
#home .shrink{
    height:100px !important;
}
@keyframes fadeloop {
  0%   { opacity:1; filter:drop-shadow(0px 0px 5px #ffffff); }
  50%  { opacity:0.03; transform:scale(0.98)}
  100% { opacity:1; filter:drop-shadow(0px 0px 5px #ffffff);}
}  