#welcome{    
    display:block;
    width:100%;
    height:100%;    
    background-image:url('../../img/welcome.png');
    background-repeat:no-repeat;
    background-position:top center;
    background-size:contain;    
}
/*
#welcome > .video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
*/