<div class="doc">
    <span class="title">Documentation</span>
    <div class="block">
        <span class="subtitle">Stack</span>  
        <span class="stack">{{loop $doc.extends <span class="extend">$doc.extends.$</span>}}</span>         
    </div>
    <div class="block">
        <span class="subtitle">OML</span>
        <span class="oml"><code>{{calc @oml=JSON.stringify($oml)}}{{@oml}}</code></span>
    </div>  
    <div class="block props">
        <span class="subtitle">Properties (config)</span>    
        <span class="properties">{{loop $doc.properties <span class="property"><span class="name"><span>name:</span><span>$doc.properties.$.name</span></span><span class="type"><span>type:</span><span>$doc.properties.$.type</span></span><span class="desc"><span>desc:</span><span>$doc.properties.$.desc</span></span></span>}}</span>                
    </div>  
    <div class="block methods">
        <span class="subtitle">Methods</span>     
        <span class="properties">{{loop $doc.methods <span class="property"><span class="name"><span>name:</span><span>$doc.methods.$.name</span></span><span class="desc"><span>desc:</span><span>$doc.methods.$.desc</span></span></span>}}</span>                      
    </div> 
    <div class="block events">
        <span class="subtitle">Events</span>     
        <span class="properties">{{loop $doc.events <span class="property"><span class="name"><span>event:</span><span>$doc.events.$.name</span></span><span class="name"><span>desc:</span><span>$doc.events.$.desc</span></span></span>}}</span>     
    </div>  
</div>