<form>  
    <input type="email" name="username" class="font_reg" placeholder="Email" pattern="[a-zA-Z0-9@_\-\.]{6,50}" required>
    <input type="password" name="password" class="font_reg" placeholder="Password (min. 8 chars.)" pattern="[a-zA-Z0-9@_\-\.!\? ]{8,}" required>
    <input type="password" name="verify" class="font_reg" placeholder="Confirm password" pattern="[a-zA-Z0-9@_\-\.!\? ]{8,}" required>          
    <input type="submit" value="Register"> 
    <span class="font_reg font_white choice" data-panel="0">Login</span>           
</form>
