.profile > .container{
    padding:20px;
}
.profile > .container > .left > .image{
    width:100px;
    height:100px;
}
.profile  > .container > .right > span{   
    display:block; 
    font-family:RBlight;
}
.profile  > .container > .right > .age{   
    display:inline-block; 
    font-family:RBlight;
}
.profile  > .container > .right > .first_name{   
    display:inline-block; 
    font-family:RBsemi;
}
.profile  > .container > .right > .last_name{   
    display:inline-block; 
    font-family:RBsemi;
}
.profile  > .container > .right > .email{   
    display:block; 
    font-family:RBlight;
    text-transform:lowercase;
    font-size:16px;
    color:#999;
}
.profile  > .container > .right > .country{       
    font-family:RBlight;
    font-size:16px;
}
.profile  > .container > .right > .state{   
    font-family:RBlight;
    font-size:16px;
    margin-right:5px;
}
.profile  > .container > .right > .city{  
    display:block;
    font-family:RBlight;
    font-size:16px;
}
.profile > .bio{
    display:block;
    padding:20px;
    font-family:RBlight;
    font-size:16px;
    letter-spacing:0.2px;    
}